<% flash.each do |name, msg| %>
  <%= content_tag :div, "#{msg}<svg class='icon icon-clear notify-clear'><use xlink:href='#icon-clear'></use></svg>".html_safe, :class => 'notify notify-danger' %>
<% end %>
<header class="header header-authentication">
  <nav class="page-navigation">
    <div id="js-historyBack"><svg class="icon icon-arrow-back"><use xlink:href="#icon-arrow-back"></use></svg></div>
    <div id="js-page-menu-trigger"><svg class="icon icon-more-vert"><use xlink:href="#icon-more-vert"></use></svg></div>
    <ul id="js-page-menu">
      <li><a href="">Pricing</a></li>
      <li><a href="">Help</a></li>
      <li><a href="">About us</a></li>
    </ul>
  </nav>
  <%= link_to root_url do %>
  <%= image_tag "logo-cap.png" %>
  <% end %>
</header>

<div class="authentication-box">
  <nav class="authentication-navigation">
    <%= link_to 'Log in', new_user_session_path, class: 'is_inactive' %>
    <%= link_to 'Sign up', new_user_registration_path %>
  </nav>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: {class: 'authentication-form'}) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.radio_button :usertype, "designer", checked: 'true' %>
    <%= f.label :designer %>
    <%= f.radio_button :usertype, "customer" %>
    <%= f.label :customer %>
  </div>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    By signing up, you agree to our <a href="" class="link__decorated">Terms of Service</a>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'button button-bordered-brand button-large' %>
  </div>
<% end %>
</div>
