<header class="header header-landing">
	<svg class="icon icon-menu" id="js-toggle-nav"><use xlink:href="#icon-menu"></use></svg>
	<nav class="header-navigation">
		<ul>
			<li>
				<%= link_to 'Sign up', new_user_registration_path %>
			</li>
			<li>
				<%= link_to 'Log in', new_user_session_path %>
			</li>
		</ul>
	</nav>
	<%= link_to root_path do %>
	<%= image_tag "logo.png", alt: 'DesignsCrowd', class: 'logo' %>
	<% end %>
	<h1 class="header-caption">Get Custom Designs Today</h1>
	<span class="header-description">Your online design marketplace. We deliver faster, better and cheaper</span>
	<div class="header-button__options">
		<a href="" class="button button-polarized button-large">I need designs</a>
		<a href="" class="button button-bordered button-large">I'm a designer</a>
	</div>
</header>
<section class="section-tour section-mini">
	<h2 class="section-tour-title">How <strong>DesignsCook</strong> works</h2>
	<div class="section-tour__step">
		<svg class="icon icon-postings"><use xlink:href="#icon-postings"></use></svg>
		<h3>Post a brief</h3>
		<p>Make a short guideline about your design for designers</p>
	</div>
	<div class="section-tour__step">
		<svg class="icon icon-postings"><use xlink:href="#icon-files"></use></svg>
		<h3>Get designs</h3>
		<p>Enjoy surfing through all the designs and have the ones you love and select sent to your mailbox</p>
	</div>
	<div class="section-tour__step">
		<svg class="icon icon-postings"><use xlink:href="#icon-typing"></use></svg>
		<h3>Feedbacks</h3>
		<p>Get feedbacks from friends and artists and access to communicate with customer service for edit</p>
	</div>
	<div class="section-tour__step">
		<svg class="icon icon-postings"><use xlink:href="#icon-hand"></use></svg>
		<h3>Pick the best</h3>
		<p>Then here's the fun part, you get to choose the #1 design</p>
	</div>
</section>
<!-- <section class="section-demo">
	<iframe src="https://player.vimeo.com/video/89546048" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/89546048">You Won&#039;t Regret That Tattoo</a> from <a href="https://vimeo.com/user22666228">angie bird</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</section> -->
<section class="section-portfolio section-mini">
	<% (1..6).each do |x| %>
	<div class="view view-tenth">  
	  <%= image_tag "portfolio#{x}.jpg" %> 
    <div class="mask">  
      <h2>Logo designs</h2>  
      <p>Custom brand logo for your company</p>  
      <a href="#" class="info">View Examples</a>  
    </div>  
	</div> 
	<% end %>
</section>