<% flash.each do |name, msg| %>
  <%= content_tag :div, "#{msg}<svg class='icon icon-clear notify-clear'><use xlink:href='#icon-clear'></use></svg>".html_safe, :class => 'notify' %>
<% end %>
<header class="header header-filler">
	<svg class="icon icon-menu" id="js-toggle-nav"><use xlink:href="#icon-menu"></use></svg>
	<nav class="authenticated-navigation">
	  <%= link_to root_path do %><%= image_tag "logo.png", class: 'logo' %><% end %>
	  <ul class="authenticated-menu">
<% if user_signed_in? %>
	  	<li>
	  		<%= link_to type_choice_path do %>
	  		<svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg> Home
	  		<% end %>
	  	</li>
	  	<li>
	  		<%= link_to edit_user_registration_path do %>
	  		<svg class="icon icon-cog"><use xlink:href="#icon-cog"></use></svg> Account settings
	  		<% end %>
	  	</li>
	  	<li>
	  		<%= link_to destroy_user_session_path, :method => :delete do %>
	  		<svg class="icon icon-backspace"><use xlink:href="#icon-backspace"></use></svg> Log out
	  		<% end %>
	  	</li>
<% else %>
	  	<li>
	  		<%= link_to new_user_session_path do %>
	  		<svg class="icon icon-system-update-tv"><use xlink:href="#icon-system-update-tv"></use></svg> Sign In
	  		<% end %>
	  	</li>
<% end %>
	  </ul>
	</nav>
</header>
<section class="section section-project">
	<h1 class="project--title"><%= @project.title %>
		<div class="job--list__detail">
			<span><svg class="icon icon-style"><use xlink:href="#icon-style"></use></svg> <%= @project.design_type %></span>
			<time>
				<svg class="icon icon-clock"><use xlink:href="#icon-clock"></use></svg> 
				<%= !@project.duration ? 'No time limit' : @dl < 0 ? 'expired' : @dl == 0 ? "#{@hl} hours left" : "#{@dl} days left" %>
			</time>
			&nbsp;
			<% if user_signed_in? %>
			<% if current_user.id == @project.user_id %>
			<%= link_to 'Edit Project', edit_project_path(params[:id]) %>
			<% end %>
			<% end %>
		</div>
	</h1>
	<div class="project--preview ghost">
		<% if @brief.present? %>
		<%= image_tag @brief.preview.url, class: 'project--preview__background' %>
		<%= image_tag @brief.preview.url(:medium), class: 'project--preview__image' %>
		<% else %>
		<%= image_tag 'http://placehold.it/300x300', class: 'project--preview__background' %>
		<%= image_tag 'http://placehold.it/300x300', class: 'project--preview__image' %>
		<% end %>
	</div>
	<div class="project--toggler"><svg class="icon icon-unfold-more"><use xlink:href="#icon-unfold-more"></use></svg></div>
	<main class="project--content">
		<article>
			<% if @project.state == 'closed' or @dl < 0 %>
			<p class="alert alert-warning txtcenter">Closed</p>
			<% end %>
			<% if Brief.find_by(project_id: @project.id).present? %>
			<% brief = Brief.find_by(project_id: @project.id) %>
			<% if @project.design_type == 'website' %>
			<p><strong>Website:</strong> <%= brief.website %></p>
			<h3>Website Pages</h3>
			<p><%= brief.website_pages %></p>
			<p><strong>Recommended website:</strong> <%= brief.recommended_website %></p>
			<% elsif @project.design_type == 'logo' %>
			<h3>Company Slogan</h3>
			<p><%= brief.slogan %></p>
			<p><strong>Note:</strong>	<%= brief.is_new == true ? 'This is a new design' : 'This is a redesign' %></p>
			<% else %>
			<h3>Company Name</h3>
			<p><%= brief.company_name %></p>
			<h3>Company description</h3>
			<p><%= brief.company_description %></p>
			<h3>Company Address</h3>
			<p><%= brief.company_address %></p>
			<p><strong>City:</strong> <%= brief.city %></p>
			<p><strong>Postal code/Zip:</strong> <%= brief.zip %></p>
			<p><strong>State:</strong> <%= brief.state %></p>
			<p><strong>Country:</strong> <%= brief.country %></p>
			<p><strong>Phone:</strong> <%= brief.phone %></p>
			<p><strong>Fax:</strong> <%= brief.fax %></p>
			<p><strong>Card orientation:</strong> <%= brief.card_orientation %></p>
			<% end %>
			<h3>Preferred Colors</h3>
			<% brief.color_choices.split(':').each_with_index do |x, i| %>
			<em><%= "##{x}" %></em>
			<i class="color-box__preview" style="background: #<%= x %>"></i>
			<% end %>
			<h3>Additional Project Information</h3>
			<p><%= brief.additional %></p>
			<% end %>
			<br>
			<!-- Sharing -->
			<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Check%20out%20this%20project&via=designscook"  data-size="large">Tweet</a>
			<% if user_signed_in? %>
			<% if current_user.id == @project.user_id %>
			<div class="comments">
				<h4 class="comments--header">Submissions</h4>
				<div class="comments--form">
					<h3><%= @submissions.count %> Submission<%= @submissions.count > 1 ? 's':'' %></h3>
					<!-- Start Thread -->
					<% @submissions.each do |x| %>
					<div class="comments--thread clearfix">
						<div class="comments--avatar">
							<% if User.exists?(x.designer_id) %>
							<%= image_tag User.find(x.designer_id).avatar.url(:thumb), class: 'img-circular' %>
							<% else %>
							<%= image_tag 'avatar.png', class: 'img-circular' %>
							<% end %>
						</div>
						<div class="comments--content">
							<div class="comments--message">
								<div class="comments--message__header"><%= User.exists?(x.designer_id) ? "#{User.find(x.designer_id).firstname} #{User.find(x.designer_id).lastname}" : "Deactivated Account" %> <time>submitted on <%= x.created_at.strftime('%B %d, %Y') %></time></div>
								<div class="comments--message__text clearfix">
									<%= image_tag x.preview.url, class: 'fr' %>
									<%= link_to 'Download Package', x.project.url, class: 'link__decorated' %>
									<h5>Rank this</h5>
									<em>Note that we award users based on your rating so make sure to not give 2 users the same rank</em>
									<p class="js-rank" data-project="<%= x.project_id %>" data-customer="<%= @project.user_id %>" data-designer="<%= x.designer_id %>" data-x="<%= Selection.exists?(designer_id: x.designer_id, project_id: x.project_id) ? "y":"n" %>">
									<input type="radio" name="rank" id="best" value="1">
									<label for="best">1 (Wow)</label>
									<input type="radio" name="rank" id="better" value="2">
									<label for="better">2 (Looks admirable)</label>
									<input type="radio" name="rank" id="good" value="3">
									<label for="good">3 (It's ok)</label>
									<span class="fr rn ghost" style="padding-right:20px; color: #0AB354; font-weight:bold">Ranked</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<% end %>
					<!-- End Thread -->
				</div>
			</div>
			<% elsif session[:usertype] == 'designer' and @project.paid == true and @dl > 0 %>
			<div class="comments">
				<h4 class="comments--header">Submission</h4>
				<div class="comments--form">
					<%= form_for @submission, url: submission_projects_path, html: { multipart: true } do |f| %>
					  <%= f.hidden_field :designer_id, value: current_user.id %>
					  <%= f.hidden_field :project_id, value: params[:id] %>
						<%= f.label :preview, 'Upload preview image (*.jpg, *.png, *.gif files only are accepted):' %><br>
						<%= f.file_field :preview %><br>
						<%= f.label :project, 'Upload attachment (*.zip - Compress files in zip format):' %><br>
						<%= f.file_field :project %>
						<p><%= f.submit :submit, class: 'button button-bordered button-large' %></p>
					<% end %>
				</div>
			</div>
			<% end %>
			<% end %>
		</article>
	</main>
</section>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>