<% flash.each do |name, msg| %>
  <%= content_tag :div, "#{msg}<svg class='icon icon-clear notify-clear'><use xlink:href='#icon-clear'></use></svg>".html_safe, :class => 'notify' %>
<% end %>
<header class="header header-authentication">
	<nav class="page-navigation">
    <div id="js-historyBack"><svg class="icon icon-arrow-back"><use xlink:href="#icon-arrow-back"></use></svg></div>
    <div id="js-page-menu-trigger"><svg class="icon icon-more-vert"><use xlink:href="#icon-more-vert"></use></svg></div>
    <ul id="js-page-menu">
      <li><%= link_to 'Home', type_choice_path %></li>
      <li><%= link_to 'Help', help_path %></li>
      <li><%= link_to 'About us', about_us_path %></li>
    </ul>
  </nav>
	<%= image_tag "logo-cap.png" %>
	<nav class="steps">
		<ul><% (1..4).each do |x| %><li class="<%= x <= 3? 'is_active':'' %>"></li><% end %></ul>
	</nav>
</header>
<% if cookies[:postStep3].present? %>
<section class="section-posting category-custom">
	<%= form_tag({controller: "projects", action: "create"}, class: 'form--posting', id: 'js-projectPost') do %>
	  <%= hidden_field_tag :design_type, cookies[:postStep2] %>
	  <%= hidden_field_tag :package, cookies[:postStep3] %>
		<%= label_tag 'title', 'Project Title', class: 'form--posting_title' %>
		<%= text_field_tag 'title', nil,class: 'category-custom__title', placeholder: 'e.g Logo design for Hooli XYZ company' %>
		<h2>Add Brief</h2>
		<ol>
		<% if cookies[:postStep2] == 'logo' %>
		<li>Is this a new logo or re-design?</li>
		<%= radio_button_tag :is_new, true %> <%= label_tag 'is_new_true', 'New logo' %>
		<%= radio_button_tag :is_new, false %> <%= label_tag 'is_new_false', 'Redesign' %>
		<li>Business Slogan</li>
		<%= text_field_tag :slogan, nil, class: 'category-custom__title' %>
		<% elsif cookies[:postStep2] == 'website' %>
		<li>Website domain name:</li>
		<%= text_field_tag :website, nil, class: 'category-custom__title' %>
		<li>Number of web pages:</li>
		<%= text_field_tag :website_pages, nil, class: 'category-custom__title' %>
		<li>Recommended websites you like:</li>
		<%= text_field_tag :recommended_website, nil, class: 'category-custom__title' %>
		<% else %>
		<li>Company name:</li>
		<%= text_field_tag :company_name, nil, class: 'category-custom__title' %>
		<li>Company Description:</li>
		<%= text_area_tag :company_description, nil, class: 'category-custom__desc' %>
		<li>Company Address:</li>
		<%= text_field_tag :company_address, nil, class: 'category-custom__title' %>
		<li>City:</li>
		<%= text_field_tag :city, nil, class: 'category-custom__title' %>
		<li>State/Province:</li>
		<%= text_field_tag :state, nil, class: 'category-custom__title' %>
		<li>Zip Code:</li>
		<%= text_field_tag :zip, nil, class: 'category-custom__title' %>
		<li>Telephone:</li>
		<%= text_field_tag :phone, nil, class: 'category-custom__title' %>
		<li>Fax:</li>
		<%= text_field_tag :fax, nil, class: 'category-custom__title' %>
		<li>Country:</li>
		<%= text_field_tag :country, nil, class: 'category-custom__title' %>
		<li>For Business Cards, select your card orientation:</li>
		<%= select_tag :card_orientation, options_for_select([['Portrait','portrait'],['Landscape', 'landscape']]), class: 'category-custom__select' %>
		<% end %>
		<li>Desired Colors:</li>
		<span><i class="color-box__preview"></i><input type="text" id="colorpicker1" class="color-box" name="color1"></span>
		<span><i class="color-box__preview"></i><input type="text" id="colorpicker2" class="color-box" name="color2"></span>
		<span><i class="color-box__preview"></i><input type="text" id="colorpicker3" class="color-box" name="color3"></span>
		<li>Upload sketch or sample if available</li>
		<%= file_field_tag :sample, class: 'category-custom__file' %>
		<li>Additional Information:</li>
		<%= text_area_tag :additional, nil, class: 'category-custom__desc' %>
	  </ol>
	  <br>
	  <%= submit_tag "Proceed", class: 'category-custom__submit button-large' %>
	<% end %>
</section>
<% else %>
<section class="section-mini txtcenter pad10">
	<div class="alert alert-warning alert-alone">
		You need to select a design type. Go to the <a href="/projects/new?step=2" class="alert-link">previous step</a> to choose a design type
	</div>
</section>
<% end %>