<header class="header header-pricing">
	<%= render "welcome/nav" %>
	<%= image_tag "header-brochure.png", class: 'header-caption header-caption__image' %>
</header>
<section class="section-pricing section-mini">
	<h1>Choose your brochure design package and order</h1>
	<p>Choose a design package, and we'll launch your project in our marketplace.</p>
	<p>Remember, a higher price means a bigger designer prize, and a bigger prize attracts more designers to your project</p>
	<p>All packages come with a full copyright ownership of the final size</p>
	<div class="pricing">
		<div class="pricing-label">
			<ul>
				<li ng-repeat="label in brochurePricing.labels">{{label}}</li>
			</ul>
		</div>
		<div class="pricing-block">
			<div class="pricing-block__title">
				<h3>Package 1</h3>
				<div>
					<sup>{{currency}}</sup> <span>{{brochurePricing.price1}}</span>
				</div>
			</div>
			<div class="pricing-block__content">
				<ul class="pricing-block__list">
					<li title="{{brochurePricing.labels[0]}}">2</li>
					<li title="{{brochurePricing.labels[1]}}">2</li>
					<li title="{{brochurePricing.labels[2]}}">5</li>
					<li title="{{brochurePricing.labels[3]}}">2</li>
					<li title="{{logoPricing.labels[4]}}">Crowd-sourced</li>
	        <li title="{{brochurePricing.labels[5]}}">
	        	<svg class="icon icon-check checked"><use xlink:href="#icon-check"></use></svg>
	        </li>
				</ul>
				<a href="" class="button button-pricing">Order Now</a>
			</div>
		</div>
		<div class="pricing-block">
			<div class="pricing-block__title">
				<h3>Package 2</h3>
				<div>
					<sup>{{currency}}</sup> <span>{{brochurePricing.price2}}</span>
				</div>
			</div>
			<div class="pricing-block__content">
				<ul class="pricing-block__list">
					<li title="{{brochurePricing.labels[0]}}">4</li>
					<li title="{{brochurePricing.labels[1]}}">5</li>
					<li title="{{brochurePricing.labels[2]}}">5</li>
					<li title="{{brochurePricing.labels[3]}}">3</li>
					<li title="{{logoPricing.labels[4]}}">Crowd-sourced</li>
	        <li title="{{brochurePricing.labels[5]}}">
	        	<svg class="icon icon-check checked"><use xlink:href="#icon-check"></use></svg>
	        </li>
				</ul>
				<a href="" class="button button-pricing">Order Now</a>
			</div>
		</div>
		<div class="pricing-block">
			<div class="pricing-block__title">
				<h3>Package 3</h3>
				<div>
					<sup>{{currency}}</sup> <span>{{brochurePricing.price3}}</span>
				</div>
			</div>
			<div class="pricing-block__content">
				<ul class="pricing-block__list">
					<li title="{{brochurePricing.labels[0]}}">8</li>
					<li title="{{brochurePricing.labels[1]}}">10</li>
					<li title="{{brochurePricing.labels[2]}}">5</li>
					<li title="{{brochurePricing.labels[3]}}">5</li>
					<li title="{{logoPricing.labels[4]}}">Crowd-sourced</li>
	        <li title="{{brochurePricing.labels[5]}}">
	        	<svg class="icon icon-check checked"><use xlink:href="#icon-check"></use></svg>
	        </li>
				</ul>
				<a href="" class="button button-pricing">Order Now</a>
			</div>
		</div>
		<div class="pricing-block">
			<div class="pricing-block__title">
				<h3>Package 4</h3>
				<div>
					<sup>{{currency}}</sup> <span>{{brochurePricing.price4}}</span>
				</div>
			</div>
			<div class="pricing-block__content">
				<ul class="pricing-block__list">
					<li title="{{brochurePricing.labels[0]}}">4</li>
					<li title="{{brochurePricing.labels[1]}}">Dedicated</li>
					<li title="{{brochurePricing.labels[2]}}">5</li>
					<li title="{{brochurePricing.labels[3]}}">Unlimited</li>
					<li title="{{logoPricing.labels[4]}}">Confidential</li>
	        <li title="{{brochurePricing.labels[5]}}">
	        	<svg class="icon icon-check checked"><use xlink:href="#icon-check"></use></svg>
	        </li>
				</ul>
				<a href="" class="button button-pricing">Order Now</a>
			</div>
		</div>
	</div>
</section>
<section class="section-categories section-mini">
	<h2 class="section-divider-heading" id="customers">What do you need designed?</h2>
	<%= link_to pricing_logo_path do %>
	<div class="category-item"><span class="category-logo"></span>Logo</div>
	<% end %>
	<%= link_to pricing_stationery_path do %>
	<div class="category-item"><span class="category-stationery"></span>Stationery</div>
	<% end %>
	<%= link_to pricing_banner_path do %>
	<div class="category-item"><span class="category-banner"></span>Banner/Flyer</div>
	<% end %>
	<%= link_to pricing_brochure_path do %>
	<div class="category-item"><span class="category-brochure"></span>Brochure</div>
	<% end %>
	<%= link_to pricing_website_path do %>
	<div class="category-item"><span class="category-website"></span>Website</div>
	<% end %>
	<%= link_to pricing_corporate_path do %>
	<div class="category-item"><span class="category-corporate"></span>Corporate</div>
	<% end %>
	<%= link_to 'Other designs', pricing_custom_path, class: 'button button-bordered-brand' %>
</section>