<header class="header header-pricing">
	<%= render "welcome/nav" %>
	<%= image_tag "wood-label.png", class: 'header-caption header-caption__image' %>
</header>
<section class="section-pricing section-mini category-custom">
	<h1>Tell us about your custom design</h1>
	<form action="http://formtoemail.com/user_forms.php" method="post">
	<input type="hidden" name="user_id" value="NUJ896KQVUSGKRNHXTJX">
	<input type="hidden" name="form_id" value="1">
	<%= label_tag :name, "Your name" %>
	<%= text_field_tag :name, nil, class: 'category-custom__title', placeholder: 'e.g John Doe' %>
	<%= label_tag :email %>
	<%= text_field_tag :email, nil, class: 'category-custom__title', placeholder: 'e.g john@serviceprovider.com' %>
	<%= label_tag :comments, "Description of design" %>
	<%= text_area_tag :comments, nil, class: 'category-custom__desc', placeholder: 'e.g A design for our company candy wrapper' %>
	<%= submit_tag "Request design", class: 'category-custom__submit' %>
	</form>
</section>
<section class="section-categories section-mini">
	<h2 class="section-divider-heading" id="customers">What do you need designed?</h2>
	<%= link_to pricing_logo_path do %>
	<div class="category-item"><span class="category-logo"></span>Logo</div>
	<% end %>
	<%= link_to pricing_stationery_path do %>
	<div class="category-item"><span class="category-stationery"></span>Stationery</div>
	<% end %>
	<%= link_to pricing_banner_path do %>
	<div class="category-item"><span class="category-banner"></span>Banner/Flyer</div>
	<% end %>
	<%= link_to pricing_brochure_path do %>
	<div class="category-item"><span class="category-brochure"></span>Brochure</div>
	<% end %>
	<%= link_to pricing_website_path do %>
	<div class="category-item"><span class="category-website"></span>Website</div>
	<% end %>
	<%= link_to pricing_corporate_path do %>
	<div class="category-item"><span class="category-corporate"></span>Corporate</div>
	<% end %>
	<%= link_to 'Other designs', pricing_custom_path, class: 'button button-bordered-brand' %>
</section>