<header class="header header-authentication">
  <svg class="icon icon-menu" id="js-toggle-nav"><use xlink:href="#icon-menu"></use></svg>
  <nav class="header-navigation">
    <ul>
      <li>
        <%= link_to 'Sign up', new_user_registration_path %>
      </li>
      <li>
        <%= link_to 'Log in', new_user_session_path %>
      </li>
    </ul>
  </nav>
  <%= link_to root_path do %>
  <%= image_tag "logo.png", alt: 'DesignsCrowd', class: 'logo' %>
  <% end %>
</header>
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
