<header class="header header-authentication">
  <%= link_to root_url do %>
  <%= image_tag "logo-cap.png" %>
  <% end %>
</header>

<div class="authentication-box">
  <nav class="authentication-navigation">
    <%= link_to 'Log in', new_user_session_path %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'is_inactive' %>
  </nav>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'authentication-form'}) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="clearfix field">
      <%= link_to 'Forgot Password?', new_user_password_path, class: 'fr' %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: 'button button-bordered-brand button-large' %>
  </div>
<% end %>
</div>