<!DOCTYPE html>
<html lang="en">
<head>
  <title>Designscook</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>
<%= yield %>
<footer class="footer footer-primary">
	<div data-col="1:5">
		<h4 class="footer-sub__heading">I need a</h4>
		<ul class="footer-list">
			<li><a href="">Logo design</a></li>
			<li><a href="">Stationery design</a></li>
			<li><a href="">Banner / Flyer design</a></li>
			<li><a href="">Brochure design</a></li>
			<li><a href="">Website design</a></li>
			<li><a href="">Corporate design</a></li>
			<li><a href="">T-shirt design</a></li>
			<li><a href="">Product / 3D design</a></li>
		</ul>
	</div>
	<div data-col="1:5">
		<h4 class="footer-sub__heading">Company</h4>
		<ul class="footer-list">
			<li><a href="">About us</a></li>
			<li><a href="">How it works</a></li>
			<li><a href="">Contact us</a></li>
			<li><a href="">Design outsourcing</a></li>
			<li><a href="">Press</a></li>
			<li><a href="">Help / FAQ</a></li>
			<li><a href="">Blog</a></li>
			<li><a href="">Testimonials</a></li>
		</ul>
	</div>
	<div data-col="1:5">
		<ul class="footer-list">
			<li><a href="">Terms &amp; Conditions</a></li>
			<li><a href="">Privacy Policy</a></li>
		</ul>
	</div>
	<div data-col="1:5">
		<ul class="footer-list">
		  <li><span class="email-address"></span></li>
		  <li>01-291-6531, 0809-800-0901</li>
		</ul>
	</div>
	<div data-col="1:5" class="txtcenter">
		<h4 class="footer-sub__heading">Convenient Payment Options</h4>
		<div class="payment">
			<%= image_tag 'paypal.png', class: 'payment-option' %>
			<%= image_tag 'stripe.png', class: 'payment-option' %>
			<%= image_tag 'mastercard.svg', class: 'payment-option' %>
		</div>
		<%= link_to 'http://google.com' do %>
		<%= image_tag 'android-app.png', class: 'app-links' %>
		<% end %>
		<%= link_to 'http://apple.com/' do %>
		<%= image_tag 'ios-app.png', class: 'app-links' %>
		<% end %>
	</div>
</footer>
<%= javascript_include_tag 'application' %>
</body>
</html>
