<!DOCTYPE html><html lang="en" ng-app="designscook" ng-controller="appController"><head><title>Designscook - Online design marketplace</title><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="description" content="Designscook is an online design marketplace for crowdsourcing design jobs and getting corporate designs"><meta name="keywords" content="crowdsourcing, designs, printing, illustrations, logo, stationery, banner, stationery, 3d, product design, graphic, designers">
<meta property="og:type" content="website">
<meta property="og:site_property" content="DesignsCook">
<meta property="og:url" content="http://designscook.com">
<meta property="og:title" content="Designscook online design marketplace">
<meta property="og:image" content="<%= asset_url 'designscook-allforone.png' %>">
<meta property="og:description" content="Designscook is an online design marketplace for crowdsourcing design jobs and getting corporate designs">
<%= csrf_meta_tags %><link rel="shortcut icon" href="/favicon.png">
<% if current_page?(root_path) && Rails.env.production? %>
<style>@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local("Open Sans"),local("OpenSans"),url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2")}*{-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}html{color:#222}html{line-height:1.4}::-moz-selection,::-moz-selection{background:#b3d4fc;text-shadow:none}::-moz-selection,::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}a{text-decoration:none;color:inherit}html{-webkit-font-smoothing:antialiased;text-rendering:optimizelegibility;font-size:62.5%}body{margin:0;font-family:"Open Sans", sans-serif;font-size:15px;font-size:1.5rem;background:url(<%= asset_url "background.jpg" %>);color:#4c3a30;overflow-x:hidden}@media (min-width: 484px){.logo{position:absolute;top:40px;left:50px}}.header{padding:20px;text-align:center;color:white}.header-landing{background:-webkit-linear-gradient(rgba(38,29,24,0.95), rgba(38,29,24,0.95)),url(<%= asset_url "header-1.jpg" %>);background:linear-gradient(rgba(38,29,24,0.95), rgba(38,29,24,0.95)),url(<%= asset_url "header-1.jpg" %>);background-size:100% 100%;height:500px}.header-caption{font-size:3.2rem;margin:30px 0}@media (min-width: 480px){.header-caption{margin:8px 0}}@media (min-width: 484px){.header-caption{margin:150px 30px 0}}@media (min-width: 768px){.header-caption{font-size:4.5rem}}.header-description{font-size:1.6rem}@media (min-width: 768px){.header-description{font-size:2.2rem}}.header-button__options{padding:10px}@media (min-width: 484px){.header-button__options{position:absolute;left:0;width:100%;top:300px}}.header-button__options>.button{margin:5px}.header-navigation{position:fixed;top:0;left:-70%;width:70%;height:100%;background:#4c3a30}.header-navigation ul{list-style:none;padding:0}.header-navigation li>a{display:block;background:#3c2e26;padding:15px;margin:2px 0}@media (min-width: 484px){.header-navigation{position:absolute;left:auto;width:auto;min-width:205px;height:auto;background:transparent;top:30px;right:40px}.header-navigation ul{border:solid thin white;height:40px;border-radius:4px;padding:4px 0}.header-navigation ul:after,.header-navigation ul:before{content:" ";display:table}.header-navigation ul:after{clear:both}.header-navigation li>a{display:inline-block;margin:0;background:transparent;letter-spacing:1px;padding:4px;width:100px;float:left;border-left:solid thin white}.header-navigation li:first-of-type a{border:none}}.button{display:inline-block;padding:10px;color:white;border-radius:4px;cursor:pointer}.button-large{width:200px}.button-polarized{background:#ff6600;border:solid 2px #ff6600}.button-bordered{background:transparent;border:solid 2px white}.icon{display:inline-block;vertical-align:middle;width:1em;height:1em;fill:currentColor}.icon-menu{position:absolute;top:20px;left:20px;height:32px;width:32px;font-size:3rem;cursor:pointer}@media (min-width: 484px){.icon-menu{display:none}}.icon-postings{width:100px;height:100px;color:#4c3a30}.section-mini{max-width:1100px;margin:0 auto}.section-mini:after,.section-mini:before{content:" ";display:table}.section-mini:after{clear:both}.section-tour{text-align:center}@media (min-width: 769px){.section-tour__step{position:relative;float:left;padding:10px;width:25%}.section-tour__step:not(:last-of-type)::after{content:url(<%= asset_url "forward.svg" %>);position:absolute;top:30px;right:-30px}}.section-tour-title{font-weight:lighter}.section-tour-title>strong{font-weight:bold}@media (min-width: 1024px){.section-tour-title{font-size:2.8rem}}.section-demo{background:#4c3a30;padding:40px 10px;margin:10px 0;text-align:center}@media (min-width: 1024px){.section-demo:after,.section-demo:before{content:" ";display:table}.section-demo:after{clear:both}}.scrollup{position:fixed;bottom:200px;right:10px;z-index:9000;width:60px;height:60px;border-radius:50%;padding:10px;background:#cc5200;box-shadow:1px 2px 3px #444;text-align:center;cursor:pointer;display:none}.scrollup .icon{color:white;font-size:4rem}</style>
<% else %>
<%= stylesheet_link_tag    'application', media: 'all' %>
<% end %>
</head><body><div class="scrollup"><svg class='icon icon-up'><use xlink:href='#icon-keyboard-arrow-up'></use></svg></div>
<%= yield %><footer class="footer footer-primary container"><div data-grid="1:5"><h4 class="footer-sub__heading">I need a</h4>
<ul class="footer-list"><li><%= link_to 'Logo design', pricing_logo_path %></li><li><%= link_to 'Stationery design', pricing_stationery_path %></li><li><%= link_to 'Banner / Flyer design', pricing_banner_path %></li><li><%= link_to 'Brochure design', pricing_brochure_path %></li><li><%= link_to 'Website design', pricing_website_path %></li><li><%= link_to 'Corporate design', pricing_corporate_path %></li><li><%= link_to 'Product / 3D design', pricing_custom_path %></li></ul>
</div><div data-grid="1:5"><h4 class="footer-sub__heading">Company</h4><ul class="footer-list"><li><%= link_to 'About us', about_us_path %></li><li><%= link_to 'How it works', "#{root_path}#how-it-works" %></li><li><%= link_to 'Contact us', "#{about_us_path}#contact" %></li><li><%= link_to 'Careers', job_vacancy_path %></li><li><%= link_to 'Help / FAQ', help_path %></li><li><%= link_to 'Blog', 'http://blog.designscook.com' %></li><li><%= link_to 'Testimonials', '' %></li></ul></div>
<div data-grid="1:5"><ul class="footer-list topmagcustom1"><li><%= link_to 'Terms & Conditions', tos_path %></li><li><%= link_to 'Privacy Policy', privacy_path %></li></ul></div>
<div data-grid="1:5"><ul class="footer-list topmagcustom1"><li><svg class="icon icon-mail4"><use xlink:href="#icon-mail4"></use></svg> <span class="email-address">&nbsp;</span></li><li><svg class="icon icon-phone"><use xlink:href="#icon-phone-hang-up"></use></svg> 01-291-6531, 0809-800-0901</li><li class="social-icons"><a href="https://www.pinterest.com/designscook/" target="_blank"><svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg></a><a href="https://plus.google.com/115870390292957554586/posts/Zq7f3vA2Kz8" target="_blank"><svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg></a><a href="https://www.linkedin.com/pub/designs-cook/9b/90/72b" target="_blank"><svg class="icon icon-linkedin2"><use xlink:href="#icon-linkedin2"></use></svg></a><a href="https://twitter.com/designscook" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a><a href="https://www.facebook.com/pages/DesignsCook/1426586880962451" target="_blank"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a><a href="https://instagram.com/designscook/" target="_blank"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a></li></ul></div>
<div data-grid="1:5" class="txtcenter"><h4 class="footer-sub__heading">Convenient Payment Options</h4><div class="payment"><svg class="icon icon-payments"><use xlink:href="#icon-cc-visa"></use></svg><svg class="icon icon-payments"><use xlink:href="#icon-cc-mastercard"></use></svg><svg class="icon icon-payments"><use xlink:href="#icon-cc-paypal"></use></svg><svg class="icon icon-payments"><use xlink:href="#icon-cc-stripe"></use></svg></div>
<%= link_to '#' do %><span class="app_button"></span><% end %><%= link_to '#' do %><span class="app_button app-ios"></span><% end %></div></footer>
<% if current_page?(root_path) && Rails.env.production? %>
<script>
/* Lazy Load CSS below the fold */
function loadCSS( href, before, media ){
    "use strict";
    var ss = window.document.createElement( "link" );
    var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
    ss.rel = "stylesheet";
    ss.href = href;
    ss.media = "only x";
    ref.parentNode.insertBefore( ss, ref );
    setTimeout( function(){
      ss.media = media || "all";
    } );
    return ss;
  }
  loadCSS('<%= asset_url "application.css" %>');
</script>
<% end %>
<script>
var rawURL = "<%= asset_path 'svgdefs.svg' %>";
var url = rawURL.replace(/(http:\/).+\/assets\//, location.protocol+'//'+location.hostname+'/assets/');
var c=new XMLHttpRequest(); c.open('GET', url, false); c.setRequestHeader('Content-Type', 'text/xml'); c.send();
document.body.insertBefore(c.responseXML.firstChild, document.body.firstChild);
/* GA */
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-61548345-1', 'auto');
ga('send', 'pageview');
/* Zopim */
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?31R5MAsapthqaF5p1UzGYC8xmhSfWRfT";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<%= javascript_include_tag 'application' %>
</body>
</html>