<!DOCTYPE html>
<html lang="en">
<head>
  <title>Designscook</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>
<%= yield %>
<footer class="footer footer-primary container">
	<div data-grid="1:5">
		<h4 class="footer-sub__heading">I need a</h4>
		<ul class="footer-list">
			<li><a href="">Logo design</a></li>
			<li><a href="">Stationery design</a></li>
			<li><a href="">Banner / Flyer design</a></li>
			<li><a href="">Brochure design</a></li>
			<li><a href="">Website design</a></li>
			<li><a href="">Corporate design</a></li>
			<li><a href="">T-shirt design</a></li>
			<li><a href="">Product / 3D design</a></li>
		</ul>
	</div>
	<div data-grid="1:5">
		<h4 class="footer-sub__heading">Company</h4>
		<ul class="footer-list">
			<li><a href="">About us</a></li>
			<li><a href="">How it works</a></li>
			<li><a href="">Contact us</a></li>
			<li><a href="">Design outsourcing</a></li>
			<li><a href="">Press</a></li>
			<li><a href="">Help / FAQ</a></li>
			<li><a href="">Blog</a></li>
			<li><a href="">Testimonials</a></li>
		</ul>
	</div>
	<div data-grid="1:5">
		<ul class="footer-list topmagcustom1">
			<li><a href="">Terms &amp; Conditions</a></li>
			<li><a href="">Privacy Policy</a></li>
		</ul>
	</div>
	<div data-grid="1:5">
		<ul class="footer-list topmagcustom1">
		  <li>
		  	<svg class="icon icon-mail4"><use xlink:href="#icon-mail4"></use></svg>
		  	<span class="email-address">&nbsp;</span>
		  </li>
		  <li>
		  	<svg class="icon icon-phone"><use xlink:href="#icon-phone-hang-up"></use></svg>
		  	01-291-6531, 0809-800-0901
		  </li>
		  <li class="social-icons">
		  	<a href=""><svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg></a>
		  	<a href=""><svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg></a>
		  	<a href=""><svg class="icon icon-linkedin2"><use xlink:href="#icon-linkedin2"></use></svg></a>
		  	<a href=""><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
		  	<a href=""><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a>
		  	<a href=""><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a>
		  </li>
		</ul>
	</div>
	<div data-grid="1:5" class="txtcenter">
		<h4 class="footer-sub__heading">Convenient Payment Options</h4>
		<div class="payment">
			<svg class="icon icon-payments"><use xlink:href="#icon-cc-visa"></use></svg>
			<svg class="icon icon-payments"><use xlink:href="#icon-cc-mastercard"></use></svg>
			<svg class="icon icon-payments"><use xlink:href="#icon-cc-paypal"></use></svg>
			<svg class="icon icon-payments"><use xlink:href="#icon-cc-stripe"></use></svg>
		</div>
		<%= link_to 'http://google.com' do %>
		<span class="app_button"></span>
		<% end %>
		<%= link_to 'http://apple.com/' do %>
		<span class="app_button app-ios"></span>
		<% end %>
	</div>
</footer>
<script>
	var url = "<%= asset_url 'svgdefs.svg' %>";
  var c=new XMLHttpRequest(); c.open('GET', url, false); c.setRequestHeader('Content-Type', 'text/xml'); c.send();
  document.body.insertBefore(c.responseXML.firstChild, document.body.firstChild);
  /* GA */
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61548345-1', 'auto');
  ga('send', 'pageview');
</script>
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
/*window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?31R5MAsapthqaF5p1UzGYC8xmhSfWRfT";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");*/
</script>
<!--End of Zopim Live Chat Script-->
<%= javascript_include_tag 'application' %>
</body>
</html>
