<!DOCTYPE html><html lang="en" ng-app="designscook" ng-controller="appController"><head><title>Designscook - Online design marketplace</title><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="description" content="Designscook is an online design marketplace for crowdsourcing design jobs and getting corporate designs"><meta name="keywords" content="crowdsourcing, designs, printing, illustrations, logo, stationery, banner, stationery, 3d, product design, graphic, designers"><meta name="og:type" content="website"><meta name="og:site_name" content="DesignsCook"><meta name="og:url" content="http://designscook.com"><meta name="og:title" content="Designscook online design marketplace"><meta name="og:image" content="/favicon.png"><meta name="og:description" content="Designscook is an online design marketplace for crowdsourcing design jobs and getting corporate designs">
<%= csrf_meta_tags %><link rel="shortcut icon" href="/favicon.png"><%= stylesheet_link_tag    'application', media: 'all' %>
</head><body><div class="scrollup"><svg class='icon icon-up'><use xlink:href='#icon-keyboard-arrow-up'></use></svg></div>
<%= yield %><footer class="footer footer-primary container"><div data-grid="1:5"><h4 class="footer-sub__heading">I need a</h4>
<ul class="footer-list"><li><%= link_to 'Logo design', pricing_logo_path %></li><li><%= link_to 'Stationery design', pricing_stationery_path %></li><li><%= link_to 'Banner / Flyer design', pricing_banner_path %></li><li><%= link_to 'Brochure design', pricing_brochure_path %></li><li><%= link_to 'Website design', pricing_website_path %></li><li><%= link_to 'Corporate design', pricing_corporate_path %></li><li><%= link_to 'Product / 3D design', pricing_custom_path %></li></ul>
</div><div data-grid="1:5"><h4 class="footer-sub__heading">Company</h4><ul class="footer-list"><li><%= link_to 'About us', about_us_path %></li><li><%= link_to 'How it works', "#{root_path}#how-it-works" %></li><li><%= link_to 'Contact us', "#{about_us_path}#contact" %></li><li><%= link_to 'Careers', job_vacancy_path %></li><li><%= link_to 'Help / FAQ', help_path %></li><li><%= link_to 'Blog', 'http://blog.designscook.com' %></li><li><%= link_to 'Testimonials', '' %></li></ul></div>
<div data-grid="1:5"><ul class="footer-list topmagcustom1"><li><%= link_to 'Terms & Conditions', tos_path %></li><li><%= link_to 'Privacy Policy', privacy_path %></li></ul></div>
<div data-grid="1:5"><ul class="footer-list topmagcustom1"><li><svg class="icon icon-mail4"><use xlink:href="#icon-mail4"></use></svg> <span class="email-address">&nbsp;</span></li><li><svg class="icon icon-phone"><use xlink:href="#icon-phone-hang-up"></use></svg> 01-291-6531, 0809-800-0901</li><li class="social-icons"><a href="https://www.pinterest.com/designscook/" target="_blank"><svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg></a><a href="https://plus.google.com/115870390292957554586/posts/Zq7f3vA2Kz8" target="_blank"><svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg></a><a href="https://www.linkedin.com/pub/designs-cook/9b/90/72b" target="_blank"><svg class="icon icon-linkedin2"><use xlink:href="#icon-linkedin2"></use></svg></a><a href="https://twitter.com/designscook" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a><a href="https://www.facebook.com/pages/DesignsCook/1426586880962451" target="_blank"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a><a href="https://instagram.com/designscook/" target="_blank"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a></li></ul></div>
<div data-grid="1:5" class="txtcenter"><h4 class="footer-sub__heading">Convenient Payment Options</h4><div class="payment"><svg class="icon icon-payments"><use xlink:href="#icon-cc-visa"></use></svg><svg class="icon icon-payments"><use xlink:href="#icon-cc-mastercard"></use></svg><svg class="icon icon-payments"><use xlink:href="#icon-cc-paypal"></use></svg><svg class="icon icon-payments"><use xlink:href="#icon-cc-stripe"></use></svg></div>
<%= link_to '#' do %><span class="app_button"></span><% end %><%= link_to '#' do %><span class="app_button app-ios"></span><% end %></div></footer>
<script>
var url = "<%= asset_url 'svgdefs.svg' %>";
var c=new XMLHttpRequest(); c.open('GET', url, false); c.setRequestHeader('Content-Type', 'text/xml'); c.send();
document.body.insertBefore(c.responseXML.firstChild, document.body.firstChild);
/* GA */
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-61548345-1', 'auto');
ga('send', 'pageview');
/* HotJar */
(function(f,b){
  var c;
  f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
  f._hjSettings={hjid:38768, hjsv:4};
  c=b.createElement("script");c.async=1;
  c.src="//static.hotjar.com/c/hotjar-"+f._hjSettings.hjid+".js?sv="+f._hjSettings.hjsv;
  b.getElementsByTagName("head")[0].appendChild(c); 
})(window,document);
/* Zopim */
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?31R5MAsapthqaF5p1UzGYC8xmhSfWRfT";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<%= javascript_include_tag 'application' %>
</body>
</html>