<% flash.each do |name, msg| %>
  <%= content_tag :div, "#{msg}<svg class='icon icon-clear notify-clear'><use xlink:href='#icon-clear'></use></svg>".html_safe, :class => 'notify' %>
<% end %>
<header class="header header-authenticated">
	<svg class="icon icon-menu" id="js-toggle-nav"><use xlink:href="#icon-menu"></use></svg>
	<nav class="authenticated-navigation">
	  <%= link_to root_path do %><%= image_tag "logo.png", class: 'logo' %><% end %>
	  <ul class="authenticated-menu">
	  	<li>
	  		<%= link_to new_project_path do %>
	  		<svg class="icon icon-add-circle-outline"><use xlink:href="#icon-add-circle-outline"></use></svg>Post project</a>
	  		<% end %>
	  	</li>
	  	<li>
	  		<%= link_to edit_user_registration_path do %>
	  		<svg class="icon icon-cog"><use xlink:href="#icon-cog"></use></svg>Account settings</a>
	  		<% end %>
	  	</li>
	  	<li>
	  		<%= link_to destroy_user_session_path, :method => :delete do %>
	  		<svg class="icon icon-backspace"><use xlink:href="#icon-backspace"></use></svg> Log out
	  		<% end %>
	  	</li>
	  </ul>
	</nav>
	<h1 class="header-caption">My Account</h1>
</header>
<section class="section-dashboard dashboard">
	<nav class="dashboard-nav">
		<h3><%= "#{current_user.firstname} #{current_user.lastname}" %></h3>
		<input type="text" ng-model="q" class="middle-block dashboard-search__filter" placeholder="Search to filter projects">
		<ul>
			<li><a href="javascript:void(0)" ng-click="all()" ng-class="{'is_active': state == 'all'}">
				All <span>Projects</span> <span class="count">{{projects.length >= 1? projects.length : ''}}</span>
			</a></li>
			<li><a href="javascript:void(0)" ng-click="showDraft()" ng-class="{'is_active': state == 'draft'}">
				<span>Drafts</span> <svg class="icon icon-feather"><use xlink:href="#icon-feather"></use></svg>
			</a></li>
			<li><a href="javascript:void(0)" ng-click="showOpen()" ng-class="{'is_active': state == 'open'}">
				<span>Open</span> <svg class="icon icon-book"><use xlink:href="#icon-book"></use></svg>
			</a></li>
			<li><a href="javascript:void(0)" ng-click="showClosed()" ng-class="{'is_active': state == 'closed'}">
				<span>Closed</span> <svg class="icon icon-task"><use xlink:href="#icon-task"></use></svg>
			</a></li>
		</ul>
	</nav>
	<main class="clearfix dashboard-content">
		<div ng-if="projects.length < 1" class="dashboard-empty">
			<svg class="icon icon-leanpub"><use xlink:href="#icon-leanpub"></use></svg>
			<h2>No projects added yet</h2>
			<p><%= link_to 'Add your first project', new_project_path %></p>
		</div>
		<div dir-paginate="project in projects | filter:q | itemsPerPage: 4" class="widget widget-{{project.state}}" ng-show="state == project.state || state == 'all'">
			<h2 class="widget-title">{{project.title}}<span>{{project.design_type}}</span></h2>
			<div class="widget-content">
				<ul class="widget-content__list">
					<li><svg class="icon icon-radio"><use xlink:href="{{checkStage(project.stage, 1)}}"></use></svg> Design Selection</li>
					<li><svg class="icon icon-radio"><use xlink:href="{{checkStage(project.stage, 2)}}"></use></svg> Budget Options</li>
					<li><svg class="icon icon-radio"><use xlink:href="{{checkStage(project.stage, 3)}}"></use></svg> Brief</li>
					<li><svg class="icon icon-radio"><use xlink:href="{{checkStage(project.stage, 4)}}"></use></svg> Checked out</li>
				</ul>
			</div>
			<div class="widget-meta">
				<a href="/projects/{{project.id}}/edit" class="button button-widget__purchase rightmag5">Resume order</a>
				<a href="/projects/{{project.id}}" class="button button-widget__decline" data-method="delete" data-confirm="Are you sure?" rel="nofollow">Delete project</a>
				<time>Date created: <strong>{{project.created_at | amDateFormat: 'Do MMMM, YYYY' }}</strong></time>
			</div>
		</div>
	</main>
	<dir-pagination-controls></dir-pagination-controls>
</section>