<% flash.each do |name, msg| %>
  <%= content_tag :div, "#{msg}<svg class='icon icon-clear notify-clear'><use xlink:href='#icon-clear'></use></svg>".html_safe, :class => 'notify' %>
<% end %>
<header class="header header-filler">
	<svg class="icon icon-menu" id="js-toggle-nav"><use xlink:href="#icon-menu"></use></svg>
	<nav class="authenticated-navigation">
	  <%= link_to root_path do %><%= image_tag "logo.png", class: 'logo' %><% end %>
	  <ul class="authenticated-menu">
	  	<li>
	  		<%= link_to notifications_path, class: @notification_presence.present? ? 'blink-notify' : '' do %>
	  		<svg class="icon icon-flag"><use xlink:href="#icon-flag"></use></svg> Notifications
	  		<% end %>
	  	</li>
	  	<li>
	  		<%= link_to edit_user_registration_path do %>
	  		<svg class="icon icon-cog"><use xlink:href="#icon-cog"></use></svg> Account settings
	  		<% end %>
	  	</li>
	  	<li>
	  		<%= link_to destroy_user_session_path, :method => :delete do %>
	  		<svg class="icon icon-backspace"><use xlink:href="#icon-backspace"></use></svg> Log out
	  		<% end %>
	  	</li>
	  </ul>
	</nav>
</header>
<section class=" [ section section-designer__dashboard ] container">
	<div data-grid="2:12">
		<div class="profile--box">
			<%= image_tag 'avatar.png', alt: 'profile image', class: 'profile--avatar img-circular' %>
			<h3 class="profile--name" title="<%= "#{current_user.firstname} #{current_user.lastname}" %>">
				<%= "#{current_user.firstname} #{current_user.lastname}" %>
			</h3>
			<ul class="profile--meta">
				<li>Earnings: $<%= current_user.earnings.present? ? current_user.earnings : '0' %></li>
				<li>Submissions: <%= @submissions_count %></li>
			</ul>
		</div>
	</div>
	<div data-grid="10:12">
		<div class="job--list">
			<h2 class="job--list__title">Available design jobs</h2>
			<div ng-if="projects.length < 1" class="dashboard-empty">
				<h2>Well, this is a weird thing but it appears there are no projects available</h2>
			</div>
			<ul class="job--list__list">
				<li dir-paginate="project in projects | itemsPerPage: 5">
					<h4><a href="/projects/{{project.id}}">{{project.title}}</a></h4>
					<div class="job--list__detail">
						<span><svg class="icon icon-style"><use xlink:href="#icon-style"></use></svg> {{ project.design_type }}</span>
						<time><svg class="icon icon-clock"><use xlink:href="#icon-clock"></use></svg> {{ !project.duration ? 'No limit' : getDuration(project.duration, project.created_at) }}</time>
					</div>
				</li>
			</ul>
			<div class="pad10 topmag10 position-parent">
				<dir-pagination-controls></dir-pagination-controls>
			</div>
			<div class="pad10">&nbsp;</div>
		</div>
	</div>
</section>